<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body class="register">
    <form class="register" action="/sessions" method="post">
      <input type="email" name="email" placeholder="Email" id="email" required><br>
      <input type="password" name="password" placeholder="Password" id="password" required><br>
      <input type="submit" name="Login" value="Login">
    </form>
    <form class="back_home" action="/" method="get">
      <input type="submit" name="home-button" value="Go back home" id="back_home">
    </form>
  </body>
</html>
