<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body class="register">
    <form class="register" action="/users" method="post">
      <input type="text" name="first_name" placeholder="First name" id="first_name"><br>
      <input type="text" name="last_name" placeholder="Last name" id="last_name"><br>
      <input type="email" name="email" placeholder="Email" id="email"><br>
      <input type="password" name="password" placeholder="Password" id="password"><br>
      <input type="submit" name="Register" value="Register">
    </form>
  </body>
</html>
