<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body class="home-page">
    <h1>TranzAction</h1>

    <div id="slideshow">
       <div>
         <img src="https://i.ibb.co/mFVRKVd/phone-in-hand.png" alt="phone" id="phone">
         <p id="phone-caption">Upload transactions, receipts & more with your phone</p>
       </div>
       <div>
         <img src="https://i.ibb.co/26cRdw6/calculate.png" alt="calculator" id="calculator-photo">
         <p id="calculator-caption">Crunch the numbers</p>
       </div>
       <div>
         <img src="https://i.ibb.co/mzxGpQ4/safe.png" alt="safe" id="safe-photo">
         <p id="safe-caption">Store it all, safely</p>
       </div>
    </div>
    <% if current_user.nil? %>
      <form class="register" action="/register" method="get">
        <input type="submit" name="register-button" value="Register here">
      </form>

      <form class="login" action="/login" method="get">
        <input type="submit" name="login-button" value="Login">
      </form>
    <%else%>
    <form class="dash" action="/dashboard" method="get">
      <input type="submit" name="dash-button" value="Dashboard">
    </form>
    <%end%>

  </body>
</html>
