body.dashboard input[type=file] {
  float: left;
  background-color: rgb(175, 175, 175);
  border: solid black 2px;
  width: 300px;
  height: 90px;
  font-size: 20px;
  border-radius: 6px;
  margin-left: 170px;
}

#upload {
  background-color: rgb(175, 175, 175);
  border: solid black 2px;
  width: 270px;
  height: 85px;
  font-size: 20px;
  border-radius: 6px;
  margin-left: 50px;
}

.headers p {
  float: left;
  margin-left: 25px;
  font-size: 20px;
}


.row p {
  float: left;
}

.row p:hover {
  background-color: white;
}


.table_body p {
  margin-left: 13px;
}

.table_body {
  border: solid 1px;
  border-radius: 1px;
  height: 400px;
  width: 99.8%;
  overflow-y: scroll;
  overflow-x: scroll;
}
