body.dashboard input[type=file] {
  float: left;
  background-color: rgb(175, 175, 175);
  border: solid black 2px;
  width: 270px;
  height: 80px;
  font-size: 20px;
  border-radius: 6px;
  margin-left: 170px;
}

#upload {
  background-color: rgb(175, 175, 175);
  border: solid black 2px;
  width: 270px;
  height: 85px;
  font-size: 20px;
  border-radius: 6px;
  margin-left: 50px;
}
