body.dashboard input[type=file] {
  float: left;
  background-color: rgb(175, 175, 175);
  border: solid black 2px;
  width: 400px;
  height: 170px;
  font-size: 30px;
  border-radius: 6px;
  margin-left: 100px;
}

body.dashboard h2 {
  font-size: 50px;
}

body.dashboard h3 {
  font-size: 30px;
}

#upload {
  background-color: rgb(175, 175, 175);
  border: solid black 2px;
  width: 400px;
  height: 170px;
  font-size: 30px;
  border-radius: 6px;
  margin-left: 50px;
}

.headers p {
  float: left;
  margin-left: 20px;
  font-size: 20px;
  font-weight: bold;
}


.table_body p:hover {
  background-color: white;
  font-weight: bolder;
  font-size: 20px;
}

.table_body {
  border: solid 1px;
  border-radius: 1px;
  height: 400px;
  width: 99.8%;
  overflow-y: auto;
  overflow-x: auto;
  margin-bottom: 100px;
  position: relative;
}
