@media only screen and (min-width:600px){
	@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');
	.generic_class {
		font-family: 'Orbitron';
	}

	body {
	  background-color: rgb(201, 180, 131);
	}

	body.home-page h1 {
	  font-size: 130px;
	  text-align: center;
	  font-family: 'Orbitron', sans-serif;
	}

	#slideshow {
	  margin: 80px auto;
	  position: relative;
	  width: 70%;
	  height: 520px;
	  padding: 10px;
	  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
	}

	#slideshow > div {
	  position: absolute;
	  top: 20px;
	  left: 10px;
	  right: 10px;
	  bottom: 10px;
	}

	#phone {
	  width:70%;
		margin-left: 105px;
	}

	#phone-caption {
	  margin-top: -8px;
	  font-size: 50px;
	  text-align: center;
	}

	#calculator-photo {
	  width: 40%;
	  margin-left: 215px;
	}

	#calculator-caption {
	  margin-top: 0px;
	  text-align: center;
	  font-size: 50px;
	}

	#safe-photo {
	  width: 70%;
		margin-left: 105px;
	}

	#safe-caption {
	  margin-top: 2px;
	  text-align: center;
	  font-size: 50px;
	}

	.register input[type=submit] {
		float: left;
		background-color: rgb(97, 162, 41);
		width: 400px;
		height: 130px;
		font-size: 50px;
		margin-top: 80px;
		margin-left: 25px;
		border-radius: 6px;
	}

	.login input[type=submit] {
		float: right;
		background-color: rgb(97, 162, 41);
		width: 400px;
		height: 130px;
		font-size: 50px;
		margin-top: 80px;
		margin-right: 25px;
		margin-bottom: 100px;
		border-radius: 6px;
	}

	body.register input[type=submit] {
		float: right;
		background-color: rgb(97, 162, 41);
		width: 400px;
		height: 130px;
		font-size: 50px;
		margin-top: 100px;
		margin-right: 310px;
		border-radius: 6px;
	}

	.register {
		margin-left: 10%;
	}

	body.register #first_name, #last_name, #password, #email {
		margin: 0 auto;
		margin-top: 100px;
		width: 500px;
		height: 100px;
		font-size: 60px;
		text-align: center;
	}

	#back_home {
		margin-bottom: 100px;
	}
}
