@media only screen and (min-width:600px){
	@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');
	.generic_class {
		font-family: 'Orbitron';
	}

	body {
	  background-color: rgb(201, 180, 131);
	}

	body.home-page h1 {
	  font-size: 60px;
	  text-align: center;
	  font-family: 'Orbitron', sans-serif;
	}

	#slideshow {
	  margin: 80px auto;
	  position: relative;
	  width: 80%;
	  height: 250px;
	  padding: 10px;
	  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
	}

	#slideshow > div {
	  position: absolute;
	  top: 10px;
	  left: 10px;
	  right: 10px;
	  bottom: 10px;
	}

	#phone {
	  width:70%;
		margin-left: 80px;
	}

	#phone-caption {
	  margin-top: -8px;
	  font-size: 50px;
	  text-align: center;
	}

	#calculator-photo {
	  width: 40%;
	  margin-left: 155px;
	}

	#calculator-caption {
	  margin-top: 0px;
	  text-align: center;
	  font-size: 50px;
	}

	#safe-photo {
	  width: 70%;
		margin-left: 75px;
	}

	#safe-caption {
	  margin-top: 2px;
	  text-align: center;
	  font-size: 50px;
	}
}
