.login input[type=submit] {
  float: right;
  background-color: rgb(97, 162, 41);
  width: 400px;
  height: 130px;
  font-size: 50px;
  margin-top: 80px;
  margin-right: 70px;
  margin-bottom: 100px;
  border-radius: 6px;
}
